# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Virtual environment
.venv/
env/
venv/


# Environment files
.env

# sqlite database files
*.sqlite3
*.sqlite
1_multistep_rag.sqlite
1_multistep_rag.sqlite-shm
1_multistep_rag.sqlite-wal

# IDE/editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pytest cache
.pytest_cache/




# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
